.dashboard {
  background-color: $pure-white;
  border-radius: 1rem;
  ul {
    list-style-type: none;
  }

  img {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}